<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>
    <p align="center">&#8226 I am a <strong>research and teaching assistant</strong> at <a href="https://www.cs.ucla.edu/" target="_blank">Computer Science Department</a>.</p>
    <p align="center">&#8226 I TA'ed <strong>cs145 data mining</strong> with <a href="http://web.cs.ucla.edu/~weiwang/" target="_blank">Prof. Wei Wang</a> and <br /> <strong>cs146 machine learning</strong> with <a href="http://web.cs.ucla.edu/~kwchang/" target="_blank">Prof. Kai-Wei Chang</a>.</p>
    <p align="center">&#8226 I did an internship at <a href="https://research.yahoo.com/" target="_blank">Yahoo Research</a>, resulting in one patent and one KDD paper.</p>
    <p align="center">&#8226 I am excited to return to Yahoo Research for 2019 summer internship.</p>
    <p align="center" class="bottom-three">&#8226 I received NSF student travel grant for KDD 2019.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p align="center">&#8226 I am a <strong>Ph.D student</strong> at <a href="http://www.ucla.edu/" target="_blank">UCLA</a>, advised by <a href="http://web.cs.ucla.edu/~weiwang/" target="_blank">Prof. Wei Wang</a>.</p>
    <p align="center">&#8226 I got a <strong>MS</strong> in Electrical Engineering in 2017, supervised by <a href="https://www.ee.ucla.edu/vwani-p-roychowdhury/" target="_blank">Prof. Vwani P. Roychowdhury</a> at <a href="https://www.ee.ucla.edu/" target="_blank">Elecgtrical and Computer Engineering Department</a> of <a href="http://www.ucla.edu/" target="_blank">UCLA</a>.</p>
    <p align="center">&#8226 I received a <strong>BS</strong> in Electrical Engineering in 2015, supervised by <a href="https://electronic.seu.edu.cn/master/aa/86/c11639a109190/page.psp" target="_blank">Prof. Zhuyuan Wang</a> and <a href="https://electronic.seu.edu.cn/dz_en/11387/list.htm" target="_blank">Prof. Zaifa Zhou</a> at <a href="https://electronic.seu.edu.cn/dz_en/" target="_blank">Electronic Science and Engineering</a> of <a href="http://www.seu.edu.cn/english/" target="_blank">Southeast University</a>.</p>
    <p align="center" class="bottom-three">&#8226 I graduated from <a href="https://www.szzx1000.cn/" target="_blank">Suzhou High School</a> in 2011, advised by <a href="http://www.edbedu.com/The_Head_Master/">Yonggang Zhang</a>.</p>
    
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="80" height="80"></p>
    <p align="center">&#8226 My research focuses on natural language processing and text mining.</p>
    <p align="center">&#8226 I lead projects of different domains, e.g. advertising, biomedical and pure algorithms.</p>
    <p align="center" class="bottom-three">&#8226 I use Python to implement algorithms or machine learning models. I love deep learning platforms, Tensorflow and PyTorch.</p>


    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
    <p align="center">&#8226 My mother tongue is <strong>Mandarin</strong>.</p>
    <p align="center">&#8226 My <strong>English</strong> is proficient.</p>
    <p align="center" class="bottom-three">&#8226 Ich beginne <strong>Deutsch</strong> zu lernen.</p>
    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
